<div id="top">
	<div id="canvas" style="float: left; display: inline-block;">
		<h3>Sync the timeline</h3><button id="reset">Reset</button>
		<canvas width="300" height="300"></canvas>
	</div>
</div>
